extends layout
block cars-block
    div
        - var i = 0;
        - carsList.forEach(function() {
        div(class="cars-list")
            div(class="cars-list__item")
                a(href="/cars/#{i + 1}")
                    h3= carsList[i].ad_tittle
                p= carsList[i].ad_description
                p= carsList[i].car_brand
                p= carsList[i].car_model
        - i++;
        - });
