extends layout
block content
    div
        - var i = 0;
        - adList.forEach(function() {
        div(class="ad-list")
            div(class="ad-list__item")
                img(src="/uploads/")
                a(href="/cars/view-car/#{adList[i].ad_id}")
                    h3= adList[i].ad_tittle
                p= adList[i].ad_description
                p= adList[i].car_brand
                p= adList[i].car_model
        - i++;
        - });
