extends layout
block content
	div(class="registration-main-wrapper")
		form(action="/profile/edit/save/#{user.user_id}", method="post", enctype="multipart/form-data")
			div(class="form-group")
				label(for="login") Имя пользователя
				div(class="input-group")
					div(class="input-group-prepend")
						span(class="input-group-text")
							i(class="fas fa-user")
					span(id="login", class="form-control")= user.user_login

			div(class="form-group")
				label(for="oldPassword") Старый пароль (необходим для подтверждения изменений)
				div(class="input-group")
					div(class="input-group-prepend")
						span(class="input-group-text")
							i(class="fas fa-key")
					input(type="password", name="oldPassword", id="oldPassword", required, class="form-control")

			- if (wrongPass)
				div(class="form-group")
					div(class="alert alert-danger", role="alert") Неверный пароль

			div(class="form-group")
				label(for="newPassword") Новый пароль (оставить пустым, если не нужно менять пароль)
				div(class="input-group")
					div(class="input-group-prepend")
						span(class="input-group-text")
							i(class="fas fa-key")
					input(type="password", name="newPassword", id="newPassword", class="form-control")

			div(class="form-group")
				label(for="choosePhoto") Выберите новую фотографию пользователя
				input(type="file", name="userPhoto", id="choosePhoto", class="form-control-file")

			div(class="form-group")
				label(for="firstName") Ваше имя
				div(class="input-group")
					div(class="input-group-prepend")
						span(class="input-group-text")
							i(class="far fa-address-card")
					span(id="firstName", class="form-control")= user.user_firstname

			div(class="form-group")
				label(for="surname") Ваша фамилия
				div(class="input-group")
					div(class="input-group-prepend")
						span(class="input-group-text")
							i(class="far fa-address-card")
					span(id="surname", class="form-control")= user.user_surname

			div(class="form-group")
				label(for="email") Новая электронная почта
				div(class="input-group")
					div(class="input-group-prepend")
						span(class="input-group-text")
							i(class="fas fa-at")
					input(type="email", name="email", required, id="email", class="form-control",
						value="#{user.user_email}")

			div(class="form-group")
				label(for="telnum") Новый номер телефона в международном формате
				div(class="input-group")
					div(class="input-group-prepend")
						span(class="input-group-text")
							i(class="fas fa-phone")
					input(type="tel", name="telnum", required, id="telnum", class="form-control",
						value="#{user.user_telnum}")

			div(class="form-group")
				label(for="cardnum") Новый номер банковской карты, на которую будет осуществлятся оплата аренды
				div(class="input-group")
					div(class="input-group-prepend")
						span(class="input-group-text")
							i(class="far fa-credit-card")
					input(type="text", name="cardnum", required, id="cardnum", class="form-control",
						value="#{user.user_cardnum}")

			div(class="form-group")
				input(type="submit", value="Сохранить данные", class="btn btn-primary w-100")

	script(src="/javascripts/jquery-3.4.1.min.js", type="text/javascript")
	script(src="/javascripts/popper.min.js", type="text/javascript")
	script(src="/bootstrap/js/bootstrap.js", type="text/javascript")