extends layout
block content
	div(class="registration-main-wrapper")
		form(action="/profile/edit/save/#{user.user_id}", method="post", enctype="multipart/form-data")
			div(class="form-group")
				label(for="login") Имя пользователя
				div(class="input-group")
					div(class="input-group-prepend")
						span(class="input-group-text")
							i(class="fas fa-user")
					input(type="text", name="login", id="login", required, class="form-control",
						value="#{user.user_login}", readonly)

			div(class="form-group")
				label(for="password") Новый пароль
				div(class="input-group")
					div(class="input-group-prepend")
						span(class="input-group-text")
							i(class="fas fa-key")
					input(type="password", name="password", id="password", required, class="form-control")

			div(class="form-group")
				label(for="choosePhoto") Выберите новую фотографию пользователя
				input(type="file", name="userPhoto", required, id="choosePhoto", class="form-control-file")

			div(class="form-group")
				label(for="firstName") Ваше имя
				div(class="input-group")
					div(class="input-group-prepend")
						span(class="input-group-text")
							i(class="far fa-address-card")
					input(type="text", name="firstName", id="firstName", required, class="form-control",
						value="#{user.user_firstname}", readonly)

			div(class="form-group")
				label(for="surname") Ваша фамилия
				div(class="input-group")
					div(class="input-group-prepend")
						span(class="input-group-text")
							i(class="far fa-address-card")
					input(type="text", name="surname", id="surname", required, class="form-control",
						value="#{user.user_surname}", readonly)

			div(class="form-group")
				label(for="email") Новая электронная почта
				div(class="input-group")
					div(class="input-group-prepend")
						span(class="input-group-text")
							i(class="fas fa-at")
					input(type="email", name="email", required, id="email", class="form-control",
						value="#{user.user_email}")

			div(class="form-group")
				label(for="telnum") Новый номер телефона в международном формате
				div(class="input-group")
					div(class="input-group-prepend")
						span(class="input-group-text")
							i(class="fas fa-phone")
					input(type="tel", name="telnum", required, id="telnum", class="form-control",
						value="#{user.user_telnum}")

			div(class="form-group")
				label(for="cardnum") Новый номер банковской карты, на которую будет осуществлятся оплата аренды
				div(class="input-group")
					div(class="input-group-prepend")
						span(class="input-group-text")
							i(class="far fa-credit-card")
					input(type="text", name="cardnum", required, id="cardnum", class="form-control",
						value="#{user.user_cardnum}")

			div(class="form-group")
				input(type="submit", value="Сохранить данные", class="btn btn-primary w-100")

	script(src="/javascripts/jquery-3.4.1.min.js", type="text/javascript")
	script(src="/javascripts/popper.min.js", type="text/javascript")
	script(src="/bootstrap/js/bootstrap.js", type="text/javascript")