extends layout
block content
	div.main-wrapper
		p= result[0].bid_id
		p= data
		p= signature
		form(method="POST", action="https://www.liqpay.ua/api/3/checkout", accept-charset="utf-8")
			input(type="hidden", name="data", value="#{data}")
			input(type="hidden", name="signature", value="#{signature}")
			input(type="image", src="//static.liqpay.ua/buttons/p1ru.radius.png")
		//input(type="submit", name="submit")

	script(src="/javascripts/jquery-3.4.1.min.js", type="text/javascript")
	script(src="/javascripts/popper.min.js", type="text/javascript")
	script(src="/bootstrap/js/bootstrap.js", type="text/javascript")