extends layout
block content
	div.profile-wrapper
		div.container-fluid
			div.row
				div.col-12.photo-wrapper.mt-2
					img(class="user-photo", src="/uploads/user_photos/#{user[0][0].user_photo_path}")
				- if (currentUser == user[0][0].user_id)
					div.col-12.mt-2
						a(href="/profile/edit/#{user[0][0].user_id}") Редактировать профиль
				div.col-12.mt-2
					span.border-bottom.border-secondary= "Имя пользователя: " + user[0][0].user_login
				div.col-12.mt-2
					- if (user[0][0].user_role_id == 3)
						span.border-bottom.border-secondary Арендодатель
					- if (user[0][0].user_role_id == 2)
						span.border-bottom.border-secondary Арендатор
				div.col-12.mt-2
					- if (currentUser !== user[0][0].user_id)
						a(href="/chats/chat-with-#{user[0][0].user_id}") Отправить сообщение
				div.col-12.mt-2

					// проверяем голосовал ли уже текущий пользователь за пользователя,
					// страница которого открыта в данный момент
					- if (user[2].map(function(item) { return item.voted_user_id; }).indexOf(currentUser) === -1)
						- if (currentUser !== user[0][0].user_id)
							a(class="user-rating__plus", href="/profile/vote-rating-plus/#{user[0][0].user_id}")
								i(class="fas fa-thumbs-up")
					span(class="user-rating__number")= "  " + user[0][0].user_rating + "  "
					- if (user[2].map(function(item) { return item.voted_user_id; }).indexOf(currentUser) === -1)
						- if (currentUser !== user[0][0].user_id)
							a(class="user-rating__minus", href="/profile/vote-rating-minus/#{user[0][0].user_id}")
								i(class="fas fa-thumbs-down")

				div.col-12.mt-2
					span.border-bottom.border-secondary= "Фамилия: " + user[0][0].user_surname

				div.col-12.mt-2
					span.border-bottom.border-secondary= "Имя: " + user[0][0].user_firstname

				div.col-12.mt-2
					span.border-bottom.border-secondary= "Электронная почта: " + user[0][0].user_email

				div.col-12.mt-2
					span
					span.border-bottom.border-secondary= "Номер телефона: " + user[0][0].user_telnum
		div.user-ads
			- if(user[1].length !== 0)
				h4.mt-3.ml-4 Объявления пользователя:
			div(class="cards-wrapper")
				- user[1].forEach(function(item) {
					div(class="card bg-light border-secondary car-card")
						img(src="/uploads/ad_photos/#{item.image_path}", class="card-img-top car-photo")
						div(class="card-body")
							a(href="/cars/view-car/#{item.ad_id}")
								h4(class="card-title")= item.ad_tittle
							h6(class="card-subtitle")= item.car_brand + " " + item.car_model
							p(class="card-text")= item.ad_description
							div(class="card-text border-bottom border-secondary")
								span #[i(class="fas fa-money-bill-wave mr-2")] #{item.ad_price} грн в день
							div(class="card-text border-bottom border-secondary")
								span #[i(class="fas fa-filter mr-2")] #{item.car_engine} л
							div(class="card-text border-bottom border-secondary")
								span #[i(class="fas fa-tachometer-alt mr-2")] #{item.car_power} л.с.
							div(class="card-text border-bottom border-secondary")
								span #[i(class="far fa-calendar-check mr-2")] #{item.car_year} г
							div(class="card-text border-bottom border-secondary")
								span #[i(class="fas fa-arrows-alt-h mr-2")] #{item.car_mileage} км
							div(class="card-text border-bottom border-secondary")
								span #[i(class="far fa-calendar-alt mr-2")] С #{item.ad_date_from} по #{item.ad_date_to}
				- });

	script(src="/javascripts/jquery-3.4.1.min.js", type="text/javascript")
	script(src="/javascripts/popper.min.js", type="text/javascript")
	script(src="/bootstrap/js/bootstrap.js", type="text/javascript")