extends layout
block content
	div.view-main-wrapper
		div.wrapper
			div.slider
				- var i = 0;
				- car[1].images.forEach(function(item) {
					img(src="/uploads/ad_photos/#{item.image_path}")
					- i++;
				- });
			div.data-wrapper
				- if (car[0].ad_author_id == car[0].user_id) {
					a(href="/cars/edit-car/#{car[0].ad_id}") Редактировать объявление
				- };

				h3= car[0].ad_tittle
				div.list
					div.list__item
						p Производитель
						p= car[0].car_brand
					div.list__item
						p Модель
						p= car[0].car_model
					div.list__item
						p Объем двигателя (литры)
						p= car[0].car_engine
					div.list__item
						p Мощность двигателя
						p= car[0].car_power
					div.list__item
						p Год выпуска
						p= car[0].car_year
					div.list__item
						p Пробег
						p= car[0].car_mileage
		div.description
			p= car[0].ad_description

		div.map-wrapper
			div(id="map")

		div.bids-header
			h3 Заявки
			- if (car[2].bids.map(function(item) {return item.bid_author_id; }).indexOf(car[0].user_id) === -1){
				- if (car[0].user_role_id == 2 || car[0].user_role_id == 1){
					form(action="/cars/view-car/send-bid/#{car[0].ad_id}", method="POST")
						p Комментарий к заявке:
						br
						input(type="text" name="bidDescription")
						br
						p Предлагаемая цена:
						br
						input(type="number" name="bidPrice")
						br
						input(type="submit" value="Отправить")
				- }
			- }

		div.bids-comments
			div.bids-wrapper
				- var confirmedExist = car[2].bids.map(function(item) {return item.bid_confirmed; }).indexOf(1);
				- car[2].bids.forEach(function(item) {
					div.bid
						div.bid__author
							p= item.user_login
						div.bid__description
							p= item.bid_description
						div.bid__price
							p= item.bid_price
						div.bid__datetime
						div
							// автор заявки может ее удалить
							- if (car[0].user_id == item.bid_author_id){
								a(href="/cars/view-car/#{car[0].ad_id}/delete-bid/#{item.bid_id}") Удалить
								br
							- }
							// только автор объявления может подтверждать заявки и все заявки не подтверждены
							- if (car[0].ad_author_id == car[0].user_id && item.bid_confirmed == 0 && confirmedExist == -1) {
								a(href="/cars/view-car/#{car[0].ad_id}/confirm-bid/#{item.bid_id}") Подтвердить
								br
							- }
							// если заявка подтверждена автором объявления, то арендатор может оплатить
							- if (car[0].user_id == item.bid_author_id && item.bid_confirmed == 1 && item.bid_paid == 0) {
								a(href="/cars/payment/#{car[0].ad_id}") Оплатить
								br
							- }
				- });

			div.comments-wrapper

				form(action="/cars/view-car/send-comment/#{car[0].ad_id}", method="POST", class="comment-form")
					input(type="text" name="commentText" placeholder="Введите комментарий" class="comment-form__text")
					input(type="submit" name="submit" value="Отправить" class="comment-form__send")

				div.comments-list

					- car[3].comments.forEach(function(item) {

						div.comment
							div.comment__author
								p= item.user_login
							div.comment__datetime
								p= item.comment_datetime
							div.comment__text
								p= item.comment_text

					- });


	span(class="hidden", id="lat")= car[0].ad_lat
	span(class="hidden", id="lng")= car[0].ad_lng

	script(src="https://code.jquery.com/jquery-3.2.0.min.js" integrity="sha256-JAW99MJVpJBGcbzEuXk4Az05s/XyDdBomFqNlM3ic+I=" crossorigin="anonymous")
	script(type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
	script(type="text/javascript" src="/javascripts/view-car.js")
	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYO3HG7LfuDJU978Vere5V6EVN3IEdsbo&libraries=places&callback=initMap", async, defer)